.project {
  display: flex;
  flex-direction: column;
  background: white;
}

.project > h1 {
  margin: 10px;
}

.project-item-head {
  font-size: 1.75rem;
  font-family: "Courier New", Courier, monospace;
  padding-left: 30px;
}

.project-item-txt {
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
  padding: 2%;
}
